*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 4.5vh;
}
ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    align-content: center;
}

a{
    text-decoration: none;
    font-weight: 400;
    padding-right:10px;
}

a:hover{
    color: rgba(182, 182, 182, 0.94);
}

body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;

    background-image: linear-gradient(rgba(0,0,0,.30),rgba(0,0,0,.30)), url(../img/pexels-cottonbro-4722577.jpg);
    background-position: center center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif; 
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container{
    text-align: center;
}

.container h1{
    font-size: 60px;
    padding-bottom: 10px;
}

.container h5{
    font-size: 20px;
    padding-bottom:20px ;
}

#arrow{
    font-size: 2rem;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
#about p{
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

@keyframes blink {
    to{
        visibility: hidden;
    }
}

.active{
    display: block !important;

}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.form{
    min-width: 30vw;
}
 
.form input{
    width: 50%;
    padding: 7px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;    
}

.form button{
    color: black;
    width: 15%;
    padding: 7px 10px;
    margin-left: -5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

@media only screen and (max-width:480px){
    .container .name h1{
        font-size:30px;
    }

    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 80%;
        text-align: justify;
    }
}
